<div
  class="card container py-3 px-2 mx-auto mt-5 bg-dark bg-opacity-75 text-white"
>
  <div class="card-body">
    <form class="row" [formGroup]="updatedDetails">
      <h1 class="text-center border-bottom pb-3">Update Student Details</h1>
      <div class="mb-3 col-md-6 col-lg-6 col-sm-12">
        <label class="form-label">Name</label>
        <input
          type="text"
          formControlName="name"
          class="form-control focusedInput"
          aria-describedby="emailHelp"
        />
        <div *ngIf="inValid">
          <span *ngIf="updatedDetails.controls['name']?.errors?.['required']">
            Name is Required
          </span>
          <span *ngIf="updatedDetails.controls['name']?.errors?.['minlength']">
            Name must have minimum 4 Characters
          </span>
        </div>
      </div>
      <div class="mb-3 col-md-6 col-lg-6 col-sm-12">
        <label class="form-label">Date of Birth</label>
        <input
          type="date"
          class="form-control focusedInput"
          formControlName="dob"
        />
        <div *ngIf="inValid">
          <span *ngIf="updatedDetails.controls['dob']?.errors?.['required']">
            Date of Birth is Required
          </span>
        </div>
      </div>
      <div class="mb-3 col-md-6 col-lg-6 col-sm-12">
        <label class="form-label">Gender</label>
        <select class="form-control focusedInput" formControlName="gender">
          <option selected disabled>- Select Gender -</option>
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
        <div *ngIf="inValid">
          <span *ngIf="updatedDetails.controls['gender']?.errors?.['required']">
            Gender is Required
          </span>
        </div>
      </div>
      <div class="mb-3 col-md-6 col-lg-6 col-sm-12">
        <label class="form-label">Phone</label>
        <input
          type="number"
          class="form-control focusedInput"
          formControlName="phone"
        />
        <div *ngIf="inValid">
          <span *ngIf="updatedDetails.controls['phone']?.errors?.['required']">
            Phone is Required
          </span>
        </div>
      </div>
      <div class="mb-3 col-md-6 col-lg-6 col-sm-12">
        <label class="form-label">Email</label>
        <input
          type="email"
          class="form-control focusedInput"
          formControlName="email"
        />
        <div *ngIf="inValid">
          <span *ngIf="updatedDetails.controls['email']?.errors?.['required']">
            Email is Required
          </span>
          <span *ngIf="updatedDetails.controls['email']?.errors?.['email'] ">
            Enter valid Mail Id
          </span>
        </div>
      </div>
      <div class="col-12 d-flex justify-content-center mt-3">
        <button
          type="submit"
          class="btn btn-light fs-5 px-5"
          (click)="update()"
        >
          <b>Register</b>
        </button>
      </div>
    </form>
  </div>
</div>


